<div class="container container-volunteer">
  <div class="hero-title">
    <div class="col-8">
      <h2><%=  t('volunteer.title') %></h2>
    </div>
    <div class="col-4">
      <%= image_tag "support.png" %>
    </div>
  </div>
  <div class="content">
    <div class="intro">
      <p><%= t('volunteer.intro_html') %></p>
      <ul>
        <% Section.all.each do |section| %> 
          <li><%= section.name %></li>
          <ul>
        <% Subsection.all.each do |subsection| %>
          <li><%= subsection.title %></li>
        <% end %>
      </ul>
        <% end %> 
      </ul>
      
    </div>
  </div>
</div>