<div class="container-fluid container-about-seeme">
  <h2 class="title text-center"><%= t('about.title') %></h2>
  <div class="row">
    <div class="col-12">
      <%= image_tag('Imane_seeme-about-us.jpg', class: "img-fluid img-intro", alt: "Imane Maison François, photo: P-Y. Thienpont. Le Soir ") %>
    </div>
  </div>
  <div class="lines">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="row sub-content">
    <div class="col-md-6">
      <div class="inner_sub-content">
        <h3><%= t('about.presentation.title') %></h3>
        <p><%= t('about.presentation.paragraph_one_html') %></p>
        <p><%= t('about.presentation.paragraph_two_html') %></p>
        <p><%= t('about.presentation.paragraph_three_html') %></p>
        <p><%= t('about.presentation.paragraph_four_html') %></p>
        <h3><%= t('about.story.title') %></h3>
        <p><%= t('about.story.paragraph_one_html') %></p>
        <button class="text-center button_seeme"><%= link_to t('about.story.article'), "https://plus.lesoir.be/131564/article/2017-12-29/imane-cest-extraordinaire-de-pouvoir-offrir-un-bout-de-vie-normale", target: "_blank"  %></button>
        <%= image_tag("about_us_historic.jpg", class: "img-fluid img-historic", alt: "Famille accueillie à la maison François") %>
      </div>
    </div>
  </div>
</div>