
<div class="container-fluid container-about-seeme">
  <div class="row sub-content">
    <div class="col-md-12">
      <div class="row">
        <div class="col-12"><h3 class="text-center"><%= t('about.story.maison_francois') %></h3></div>
        <div class="col-12"><h4><%= t('about.story.maison_francois_subtitle_html') %></h4></div>
      </div>
      <div class="row">
        <div class="col-6">
          <p><%= t('about.story.paragraph_two_html') %></p>
        </div>
        <div class="col-6">
          <p><%= t('about.story.paragraph_three_html') %></p>
        </div>
      </div>
    </div>
    <div class="col align-self-center">
      <div class="container_img">
          <%= image_tag("Imane_seeme-about-us.jpg", class: "fit-left", alt: "") %>
          <%= image_tag("Imane_seeme-about-us.jpg", class: "portrait", alt: "") %>
          <%= image_tag("Imane_seeme-about-us.jpg", class: "fit-right", alt: "") %>
          <%= image_tag("Imane_seeme-about-us.jpg", class: "", alt: "") %>
          <%= image_tag("Imane_seeme-about-us.jpg", class: "fit-left portrait", alt: "") %>
          <%= image_tag("Imane_seeme-about-us.jpg", class: "", alt: "") %>
        </div>
    </div>
    <div class="row chiffres">
      <div class="col-12"><h4><%= t('about.story.chiffres') %></h4></div>
      <div class="col-6 col-md-3">
        <div class="ico">
          <%= image_tag("teamwork.jpg", class: "img-one", alt: "") %>
        </div>
        <span><%= t('about.story.icon_one') %></span>
      </div>
      <div class="col-6 col-md-3">
        <div class="ico">
          <%= image_tag("night.jpg", class: "img-two", alt: "") %>
        </div>
        <span><%= t('about.story.icon_two') %></span>
      </div>
      <div class="col-6 col-md-3">
        <div class="ico">
          <%= image_tag("meal.jpg", class: "img-three", alt: "") %>
        </div>
        <span><%= t('about.story.icon_three') %></span>
      </div>
      <div class="col-6 col-md-3">
        <div class="ico">
          <%= image_tag("execution.jpg", class: "img-four", alt: "") %>
        </div>
        <span><%= t('about.story.icon_four') %></span>
      </div>
    </div>
    <div class="lines">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>