
<div class="container-fluid container-about-seeme">
  <div class="row sub-content">
    <div class="col-md-8">
        <div class="row">
          <div class="img_content">
            <%= image_tag("tempory_picture_about-us.jpg", class: "img-fluid img-solidarity", alt: "Famille accuillie à la maison François") %>
          </div>
        </div>
        <div class="row">
          <div class="col-12"><h3 class="text-center"><%= t('about.story.maison_francois') %></h3></div>
          <div class="col-12"><h4><%= t('about.story.maison_francois_subtitle') %></h4></div>
        </div>
        <div class="row">
          <div class="col-6">
            <p><%= t('about.story.paragraph_two_html') %></p>
          </div>
          <div class="col-6">
          <p><%= t('about.story.paragraph_three_html') %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row chiffres">
      <div class="col-12"><h4><%= t('about.story.chiffres') %></h4></div>
      <div class="col-6 col-md-3">
        <div class="ico">
          <%= image_tag("teamwork.jpg", class: "img-one", alt: "") %>
        </div>
        <span><%= t('about.story.icon_one') %></span>
      </div>
      <div class="col-6 col-md-3">
        <div class="ico">
          <%= image_tag("night.jpg", class: "img-two", alt: "") %>
        </div>
        <span><%= t('about.story.icon_two') %></span>
      </div>
      <div class="col-6 col-md-3">
        <div class="ico">
          <%= image_tag("meal.jpg", class: "img-three", alt: "") %>
        </div>
        <span><%= t('about.story.icon_three') %></span>
      </div>
      <div class="col-6 col-md-3">
        <div class="ico">
          <%= image_tag("execution.jpg", class: "img-four", alt: "") %>
        </div>
        <span><%= t('about.story.icon_four') %></span>
      </div>
    </div>
    <div class="lines">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>