
<div class="container-fluid container-about-seeme">
  <div class="row">
    <div class="col-12">
      <h3><%= t('about.story.title_thanks') %></h3>
    </div>
    <div class="col-6 col-md-4">
      <%= t('about.story.para_one') %>
    </div>
    <div class="col-6 col-md-4">
      <%= t('about.story.para_two') %>
    </div>
    <div class="col-6 col-md-4">
      <%= t('about.story.para_three') %>
    </div>
  </div>
  <div class="col-12">
    <h3><%= t('about.story.title_adventure_continue') %></h3>
  </div>
</div>