<div class="container-fluid container-about-seeme">
  <h2 class="title text-center"><%= t('perspectives.title') %></h2>
  <div class="row sub-content">
    <div class="col-md-6">
      <div class="inner_sub-content">
        <h3><%= t('perspectives.presentation.title') %></h3>
        <p><%= t('perspectives.presentation.paragraph_one_html') %></p>
        <p><%= t('perspectives.presentation.paragraph_two_html') %></p>
        <p><%= t('perspectives.presentation.paragraph_three_html') %></p>
        <p><%= t('perspectives.presentation.paragraph_four_html') %></p>
      </div>
    </div>
    <div class="col-md-6">
      <h3><%= t('perspectives.besoin.title') %></h3>
        <ul><%= t('perspectives.besoin.list_html') %></ul>
    </div>
  </div>
  <div class="lines">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>