<div class="container container_private_life">
  <div class="row hero-title">
    <div class="col-8">
      <h2><%= t('private.title') %></h2>
    </div>
    <div class="col-4">
      <%= image_tag("image_privacy-life.png") %>
    </div>
  </div>
  <h5><%= t('private.info_asbl') %></h5>
  <p><%= t('private.info_asbl_text_html') %></p>
  <p><%= t('private.introduction_html') %></p>
  <h5><%= t('private.subtitle_personnal_data') %></h5>
  <p><%= t('private.personnal_data_html') %></p>
  <h5><%= t('private.utilisation_data') %></h5>
  <p><%= t('private.personnal_data_text_html') %></p>
  <h5><%= t('private.legal_base') %></h5>
  <p><%= t('private.legal_base_text_html') %></p>
  <h5><%= t('private.delay_conservation') %></h5>
  <p><%= t('private.delay_conservation_text_html') %></p>
  <h5><%= t('private.cookies') %></h5>
  <p><%= t('private.cookies_text_html') %></p>
  <h5><%= t('private.your_rights') %></h5>
  <p><%= t('private.your_rights_text_html') %></p>
  <h5><%= t('private.contact_private_life') %></h5>
  <p><%= t('private.contact_private_life_text_html') %></p>
</div>