<div class="container container-support">
  <div class="hero-title">
    <div class="col-8">
      <h2><%=  t('support.title') %></h2>
    </div>
    <div class="col-4">
      <%= image_tag "support.png" %>
    </div>
  </div>
  <div class="content">
     <p class="description"><%= t('support.description') %></p>
     <div class="help_content">
        <div class="tab_container">
          <button class="btn link_tab_container" data-tab="1">
            <span><%= t('support.header.financial') %></span>
          </button>
          <button class="btn link_tab_container" data-tab="2" >
            <span><%= t('support.header.volonteer') %></span>
          </button>
        </div>
        <div class="bloc_section">
          <section class="section__content section__content1">
            <div class="description">
              <p><%= t('support.content.one_html') %></p>
            </div>
          </section>
          <section class="section__content section__content2">
            <div class="description">
              <p><%= t('support.content.two_html') %></p>
              <%= link_to t('support.content.form'), new_volunteer_path %>
            </div>
          </section>
        </div>
     </div>
  </div>
</div>