<div class="container container-support">
  <div class="hero-title">
    <div class="col-8">
      <h2><%=  t('support.title') %></h2>
    </div>
    <div class="col-4">
      <%= image_tag "support.png" %>
    </div>
  </div>
  <div class="content">
     <p class="description"><%= t('support.description') %></p>
     <div class="help_content">
        <div class="header_section">
          <h3 class="btn title_link"><%= link_to t('support.header.volonteer'), :anchor => "#content1"%></a></h3>
          <h3 class="btn title_link"><%= link_to t('support.header.financial'), :anchor => "#content2" %></a></h3>
        </div>
        <section class="section active" id="default">
          <%= image_tag "" %>
        </section>
        <section class="section " id="content1">
          <div class="description"><%= t('support.content.one') %></div>
          <div class="cta">
            <%= link_to t('support.content.form'), new_volunteer_path %>
          </div>
        </section>
        <section class="section " id="content2">
          <%= t('support.content.two') %>
        </section>
     </div>
  </div>
</div>