<div class="container container_student">
  <div class="hero-title">
    <div class="col-8">
      <h2><%= t('students.new.title') %></h2>
    </div>
    <div class="col-4">
      <%= image_tag("") %>
    </div>
  </div>
  <p><%= t('students.new.description') %></p>
  <div class="">
    <%= form_for @student, :html => {:class => "form_inscription"} do |f| %>
      <p>
        <%= f.text_field :name, class: "name", :placeholder => "t('students.new.placeholder.name')" %>
      </p>  
      <P>
        <%= f.text_field :lastname, placeholder: true %>
      </p>
      <P>
        <%= f.text_field :email, placeholder: true%>
      </p>
      <P>
        <%= f.text_field :telephone, placeholder: true %>
      </p>
      <div>
        <%= f.collection_radio_buttons :project_id, Project.all, :id, :title, { :class =>  "radio_button"} %>
      </div>
      <%= f.submit t('students.new.submit_button'), class: "btn button_seeme"  %>
    <% end %>
  </div>
</div>