<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "See Me", root_path , class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to about_path, class: "nav-link" do %>
          <%=  t('header.qui_sommes_nous') %><span class="sr-only">(current)</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to t('header.projets'), projects_path ,  class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t('header.agir'), "", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t('header.soutenir'), support_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t('header.presse'), press_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t('header.contact'), contact_path, class: "nav-link" %>
      </li>
    </ul>
    <span class="">
      <ul class="langages-list">
        <li><%= link_to t('header.en'), locale: "en" %></li>
        <li><%= link_to t('header.fr'), locale: "fr" %></li>
        <li><%= link_to t('header.nl'), locale: "nl" %></li>
        <li><%= link_to t('header.ar'), locale: "ar" %></li>
      </ul>
    </span>
  </div>
</nav>